# Virtual environment
venv/
myenv/
env/
*.pyc
__pycache__/

# Database
# Ignore SQLite database
db.sqlite3

# Ignore environment variables
.env
backend/.env


# Logs and temp files
*.log
*.pot
*.pyc
*.pyo
*.swp
*.swo
*.DS_Store

# Static and media files
staticfiles/
media/


